<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd  
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd              
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
    
    <!-- 激活 @Controller 模式 -->
    <mvc:annotation-driven />
    <!-- 会把 "/**" url,注册到 SimpleUrlHandlerMapping 的 urlMap 中,把对静态资源的访问由 HandlerMapping -->
	<!-- 转到 org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler  处理并返回. -->
	<!-- DefaultServletHttpRequestHandler 使用就是各个 Servlet 容器自己的默认 Servlet. -->
    <mvc:default-servlet-handler/>
    
    <!-- 对包中的所有类进行扫描，以完成 Bean 创建和自动依赖注入的功能 需要更改 -->
    <context:component-scan base-package="com.x3platform.web.controllers" />
    
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/classes/views/</value>
        </property>
        <property name="suffix">
            <value>.html</value>
        </property>
    </bean>
</beans>